@import "compass/css3";

$froth-brown: #915930;
$liquid-brown: #603620;
@keyframes steam-rising {
  0% {
    top:14px;
  }
  5% {
    opacity:1;
  }
  20% {
    transform: rotate(10deg);
    left:-6px;
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(17deg);
  }
  80% {
    transform: rotate(-19deg);
    opacity:1;
  }
  100% {
    top: -12px;
    left: -10px;
    opacity: 0;
  }
}
@keyframes coffee-plus-water-full {
  75% {
    height: 44px;
    border-top: 4px solid $froth-brown;
  }
  100% {
    height: 44px;
    border-top: 4px solid $froth-brown;
  }
}
@keyframes coffee-plus-water-halfway {
  100% {
    height: 15px;
    border-top: 6px solid $froth-brown;
  }
}
@keyframes water-stopping {
  60% {
    height: 62px;

  }
  70% {
    height: 0;
    width: 5px;
    border-width: 4px;
  }
  75% {
    width: 0;
    height: 0;
    border-width: 0;
  }
  100% {
    width: 0;
    height: 0;
    border-width: 0;
  }

}
@keyframes water-moving {
  15% {
    left: 10px;
  }
  45% {
    left: 26px;
  }
  60% {
    left: 20px;
  }
}
@keyframes kettle-moving {
  15% {
    left: 26px;
  }
  45% {
    left: 44px;
  }
  60% {
    left: 36px;
  }

}


@keyframes foam-disappear {
100% {
  background: $liquid-brown;
}
}
@keyframes coffee-plunge {
  21% {
    height: 45px;
  }
  100% {
    height: 10px;
  }
}
@keyframes plunge {
  15% {
    top: -50px;
  }
  100% {
    top: -10px;
  }
}
@keyframes grind-fall {
  0% {
    top: -2px;
  }
  100% {
    top: 26px;
  }
}
@keyframes handle-oscillation {
  0% {
    width: 26px;
    left: 1px;
  }
  25% {
    width: 6px;
    left: 21px;
  }
  50% {
    width: 25px;
    left: 21px;
  }
  75% {
    width: 6px;
    left: 21px;
  }
  100% {
    width: 26px;
    left: 1px;
  }
}
@keyframes distance-shadow {
  25% {
    background: #6E6E6E;
  }
  50% {
    background: gray;
  }
  75% {
    background: #949494;
  }
  100% {
    background: gray;
  }
}
@keyframes knob-rotation {
  0% {

  }
  25% {
    margin-left: 20px;
  }
  50% {
    margin-left: 39px;
  }
  75% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes french-press-stir {
  10% {
    top: 4px;
    left: 70px;
    transform: rotate(90deg);
  }
  20% {
    top: -58px;
    
    left: 70px;
    transform: rotate(0deg);
  }
  30% {
    left: 18px;
    top: -58px;
    transform: rotate(0deg);
  }
  40% {
    top: -10px;
    left: 18px;
    transform: rotate(0deg);
  }
  50% {
    left: 8px;
    top: -10px;
    transform: rotate(0deg);
  }
  60% {
    left: 26px;
    top: -10px;
    transform: rotate(0deg);
  }
  70% {
    left: 8px;
    top: -10px;
    transform: rotate(0deg);
  }
  80% {
    left: 26px;
    top: -10px;
    transform: rotate(0deg);
  }
  90% {
    left: 8px;
    top: -10px;
    transform: rotate(0deg);
  }
  100% {
    left: 18px;
    top: -10px;
    transform: rotate(0deg);
  }
}


body {
  text-transform: uppercase;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  margin: 0;
}
p {
  max-width: 400px;
  margin: 1.5em auto;
  text-align: left;
  padding: 0 0.5em;
  z-index: -2;
}
em {
  font-size: 2em;
  text-align: center;
  font-style: normal;
}
.fixed {
  position: fixed;
  background: #71C3D0;
  z-index: 3;
  padding: 0 1em;
  text-decoration: none;
  color: white;
  height: 50px;
  line-height: 50px;
  border-radius: 0 5px 5px 0;
  top: 20px;
  left: 0;
  &:nth-of-type(2) {
    right: 0;
    left: auto;
    border-radius: 5px 0 0 5px;
  }
}
section {
  padding-top: 80px;
}
.grinder {
  .handle {
    position: relative;
    height: 25px;
    .knob {
      position: relative;
      width: 8px;
      height: 10px;
      background: red;
      border-radius: 0 0 3px 3px;
      animation-name: knob-rotation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      &:after {
        content: "";
        display: block;
        width: 6px;
        height: 12px;
        background: gray;
        position: absolute;
        top: 10px;
        left: 1px;
        animation-name: distance-shadow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
    .horizontal {
      height: 5px;
      width: 26px;
      background: gray;
      position: absolute;
      top: 20px;
      left: 1px;
      animation-name: handle-oscillation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
  .middle {
    height: 35px;
    position: relative;
    z-index: 1;
    margin-top: 8px;
    margin-left: 6px;
    height: 25px;
    width: 36px;
    background: #0E112A;
    border-radius: 0 0 17px 17px;
    &:after {
      position: absolute;
      top: 20px;
      width: 30px;
      height: 5px;
      left: 3px;
      background: #000;
      content: "";
    }
    &:before {
      position: absolute;
      content: "";
      top: -10px;
      width: 6px;
      height: 10px;
      display: block;
      background: gray;
      left: 15px;
    }
  }
  .bottom {
    position: relative;
    height: 30px;
    width: 38px;
    margin-left: 5px;
    margin-top: -2px;
    background: #e6e6e6;
    border-radius: 15px 15px 8px 8px;
    border-bottom: 7px solid black;
  }
  b {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: $liquid-brown;
    display: block;
    left: 10px;
    position: absolute;
    animation-name: grind-fall;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    &:nth-of-type(2) {
      left: 24px;
      animation-delay: 0.7s;
    }
    &:nth-of-type(3) {
      left: 18px;
      animation-delay: 0.6s;
    }
    &:nth-of-type(4) {
      left: 13px;
      animation-delay: 0.3s;
    }
    &:nth-of-type(5) {
      left: 18px;
      animation-delay: 0.4s;
    }
    &:nth-of-type(6) {
      left: 11px;
      animation-delay: 0.8s;
    }
    &:nth-of-type(7) {
      left: 19px;
      animation-delay: 0.4s;
    }
    &:nth-of-type(8) {
      left: 22px;
      animation-delay: 0.2s;
    }
  }
}

.french-press {
  position: relative;
  &.with-lid {
    margin-top: 70px;
  }
  
  &.add-water-halfway {
    margin-top: 50px;
    .coffee {
      border-top: 0px solid $froth-brown;
      animation-name: coffee-plus-water-halfway;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-delay: 1s;    
    }
  }
  .stirrer {
    height: 48px;
    width: 4px;
    background: #C79457;
    position: absolute;
    top: 4px;
    left: 70px;
    transform: rotate(90deg);
    transform-origin: center bottom;
    animation-name: french-press-stir;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-delay: 1s;
    z-index: -1;
    border-radius: 5px 5px 0 0;
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 12px;
      height: 15px;
      border-radius: 50%;
      background: #C79457;
      top: 40px;
      left: -4px;
    }
  }
  &.stirring {
    .coffee {
      height: 44px;
      border-top: 4px solid $froth-brown;
    }
  }
  &.add-water-full {
    .coffee {
      height: 15px;
      border-top: 6px solid $froth-brown;
      animation-name: coffee-plus-water-full;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-delay: 1s;
    }
  }
  .lid {
    width: 38px;
    height: 10px;
    border-radius: 12px 12px 0 0;
    background: #424242;
    position: absolute;
    z-index: 3;
    top: -10px;
  }
  .plunger {
    width: 4px;
    height: 50px;
    top: -50px;
    background: #A4A4A4;
    position: absolute;
    z-index: -2;
    left: 17px;
    &.plunging {
      animation-name: plunge;
      animation-iteration-count: infinite;
      animation-duration: 4s;
    }
    &:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: red;
      top: -8px;
      left: -2px;
      position: absolute;
    }
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background: #A4A4A4;
      position: absolute;
      top: 49px;
      left: -13px;
    }
  }
  .coffee-background {
    background: $liquid-brown;
    height: 45px;
    width: 30px;
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 4px;
    &.waiting {
      border-top: 4px solid $froth-brown;
      height: 42px;
    }
  }
  .coffee {
    background: $liquid-brown;
    height: 7px;
    width: 30px;
    position: absolute;
    z-index: 0;
    bottom: 4px;
    left: 4px;
    &.plunging {
      height: 45px;
      animation-name: coffee-plunge;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        height: 4px;
        background: $froth-brown;
        width: 30px;
        animation-name: foam-disappear;
        animation-iteration-count: infinite;
        animation-duration: 4s;
      }
    }
  }
  .handle {
    width: 10px;
    height: 25px;
    border: 4px solid black;
    border-radius: 0 8px 8px 0;
    border-left: 0;
    position: absolute;
    top: 10px;
    left: 38px;
    z-index: 2;
    &:before {
      position: absolute;
      content: "";
      height: 4px;
      width: 30px;
      background: gray;
      top: -4px;
      left: -34px;
    }
  }
  .frame {
    border: 4px solid gray;
    border-top: 0;
    border-bottom: 0;
    width: 16px;
    height: 45px;
    position: absolute;
    top: 10px;
    left: 7px;
    z-index: 2;
    &:after {
      content: "";
      position: absolute;
      top: 43px;
      left: -6px;
      height: 5px;
      width: 5px;
      background: gray;
      border-radius: 15px 0 11px 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: 43px;
      left: 17px;
      height: 5px;
      width: 5px;
      background: gray;
      border-radius: 0 15px 0 11px;
    }
  }
  .body {
    border: 4px solid #D8D8D8;
    border-top: 0;
    height: 50px;
    width: 30px;
    border-radius: 0 0 5px 5px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -9px;
      width: 8px;
      height: 8px;
      background: #D8D8D8;
      border-radius: 0 0 0 15px;
    }
  }
}



.pouring-water {
  position: relative;
  margin: 80px 0 150px;
  position: relative;
  .french-press {
    top: 55px;
  }
}

.kettle {
  position: relative;
  margin: 50px 0;
  &.pouring {
    margin: 0;
    position: absolute;
    left: 36px;
    transform: rotate(-45deg);
    animation-name: kettle-moving;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 1s;
  }
  .body {
    height: 55px;
    width: 37px;
    background: gray;
    border: 0;
    border-radius: 40px 40px 5px 5px;
    &:after {
      content: "";
      position: absolute;
      display: block;
      background: red;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      top: -8px;
      left:15px;
    }
  }
  .handle {
    width: 7px;
    height: 15px;
    border: 4px solid black;
    border-radius: 0 15px 15px 0;
    border-left: 0;
    position: absolute;
    left: 37px;
    top: 15px;
    &:before {
      background: gray;
      content:"";
      top: -5px;
      left: -7px;
      height: 10px;
      border-radius: 0 0 0 15px;
      width: 6px;
      left: -42px;
      display:block;
      position:absolute;
    }
  }
}



.water-stream {
  width: 5px;
  height: 62px;
  border-left: 4px solid #71C3D0;
  border-top: 4px solid #71C3D0;
  border-radius: 20px;
  position: absolute;
  top: 32px;
  left: 20px;
  animation-name: water-moving, water-stopping;
  animation-iteration-count: infinite, infinite;
  animation-duration: 4s, 4s;
  animation-delay: 1s, 1s;
}

  


.steam {
  position: absolute;
  top: 14px;
  left: -5px;
  opacity:0;
  z-index:-1;
  transform-origin: center top;
  transform: rotate(-10deg);
  animation-name: steam-rising;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 1s;
  .circle {
    height: 8px;
    width: 8px;
    background: #e6e6e6;
    border-radius: 50%;
    position: absolute;
    top: 0;
  }
  .tail {
    position: absolute;
    border-bottom: 8px solid transparent;
    border: 4px solid transparent;
    border-top: 6px solid #e6e6e6;
    top: 6px;
  }
}











@keyframes aeropress-plunge {
  0% {
    top:-45px;
  }
  100% {
    top: -2px;
  }
}
@keyframes aeropress-coffee-diminish {
  100% {
    height: 7px;
  }
}
@keyframes aeropress-pouring-halfway {
  100% {
    height: 10px;
    border-top: 4px solid $froth-brown;
  }
}
@keyframes aeropress-pouring-full {
  75% {
    height: 40px;
  }
  100% {
    height: 40px;
  }
}
@keyframes kettle-moving-smaller {
  15% {
    left: 30px;
  }
  45% {
    left: 40px;
  }
  60% {
    left: 36px;
  }

}
@keyframes water-moving-smaller {
  15% {
    left: 14px;
  }
  45% {
    left: 22px;
  }
  60% {
    left: 20px;
  }
}
@keyframes stir {
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
}
@keyframes coffee-stir {
  100% {
    border-top: 4px solid $liquid-brown;
  }
}
@keyframes move-plunger {
  30% {
    top: -48px;
    transform: rotate(5deg);
  }
  55% {
    transform: rotate(0deg);
    left: 12px;
  }
  80% {
    top: -18px;
    left: 12px;
  }
  100% {
    top: -18px;
    left: 12px;
  }
}

.aeropress-pouring {
  position: relative;
  height: 150px;
  .aeropress {
    top: 38px;
  }
  .mug {
    top: 39px;
  }
}
.kettle.pouring-smaller {
  animation-name: kettle-moving-smaller;
}
.water-stream.pouring-smaller {
  animation-name: water-moving-smaller, water-stopping;
}
.aeropress {
  position: relative;
  height: 70px;
  &.pouring-smaller {
    .cylinder {
      width: 16px;
      left: 8px;
      height: 46px;
      top: 20px; 
      &:before {
        width: 32px;
        top: 50px;
      }
      &:after {
        width: 17px;
        top: 54px;
      }
    }
    .coffee {
      width: 16px;
      left: 12px;
    }
    
  }
  .plunger {
    width: 20px;
    height: 50px;
    border: 4px solid gray;
    border-top:0;
    left:49px;
    top: 18px;
    border-radius: 0 0 4px 4px;
    position: absolute;
    &.moving {
      width: 8px;
      height: 39px;
      top: 18px;
      top: -18px;
      left: 12px;
      top: 58px;
      left: 48px;
      animation-name: move-plunger;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-delay: 2s;
      &:before {
        width: 16px;
      }
      &:after {
        width: 16px;
        top: 41px;
        left: -4px;
      }
    }
    &.resting {
      top: 40px;
    }
    &.plunging {
      top: 0;
      left: 4px;
      animation-name: aeropress-plunge;
      animation-iteration-count:infinite;
      animation-duration:4s;  
    }
    &.resting {
      left: 57px;
      top: 50px;
    }
    &:before {
      width: 28px;
      content:"";
      display:block;
      position:absolute;
      height:4px;
      border:4px solid gray;
      border-top:0;
      border-bottom:0;
      left:-8px;
    }
    &:after {
      height:3px;
      background:black;
      width:26px;
      border-radius:4px 4px 0 0;
      content:"";
      display:block;
      position: absolute;
      top:54px;
      left:-3px;
    }
  }
  .cylinder {
    width:28px;
    height:59px;
    border:4px solid #4E4D4C;
    position:absolute;
    left:0px;
    top:5px;
    border-top:0;
    &:before {
      width:44px;
      left:-8px;
      top: 63px;
      height:4px;
      background: #4E4D4C;
      content:"";
      display:block;
      position:absolute;
    }
    &:after {
      content:"";
      display:block;
      position:absolute;
      height: 4px;
      background:black;
      width:28px;
      top:66px;
    }
  }
  .stirrer {
    z-index: -1;
    position: absolute;
    width: 18px;
    height: 62px;
    background: black;
    border-radius: 5px;
    left: 9px;
    top: -8px;
    animation-name: stir;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    &:before {
      position: absolute;
      display: block;
      content: "";
      border-radius: 5px;
      width: 30px;
      left: -6px;
      height: 20px;
      background: black;
      top: -10px;
    }
  }
  .coffee {
    left:4px;
    bottom:4px;
    background: $liquid-brown;
    height:50px;
    width:28px;
    position:absolute;
    &.grounds {
      height: 5px;
      border-top: 4px solid $liquid-brown;
      box-sizing: border-box;
    }
    &.smaller {
      height: 38px;
    }
    &.stirring {
      height: 10px;
      border-top: 4px solid $froth-brown;
      animation-name: coffee-stir;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    &.pouring-full {
      height: 10px;
      animation-name: aeropress-pouring-full;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
    }
    &.pouring-halfway {
      animation-name: aeropress-pouring-halfway;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
    }
    &.plunging {
      animation-name: aeropress-coffee-diminish;
      animation-iteration-count: infinite;
      animation-duration: 4s;
    }
  }
}

.mug {
  position: relative;
  width: 36px;
  height: 37px;
  background: red;
  margin-top: 1px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 15px;
    border: 4px solid red;
    border-radius: 0 7px 7px 0;
    left: 34px;
    top: 7px;
  }
  &.smaller {
    top: 41px;
    width: 27px;
    left: 6px;
    height: 28px;
    &.higher {
      top: 3px;
    }
    &:after {
      width: 3px;
      height: 9px;
      left: 23px;
      top: 5px;
    }
  }
}